<!DOCTYPE html>
<html>
<head>
	<title>Machine Learning in flask</title>
</head>
<body>
	<form action="/predict" method="POST">
		<p>Name</p>
		<input type="text" name="name">
		<p>Male?</p>
		<input type="text" name="male">
		<p>Book1?</p>
		<input type="text" name="book1">
		<p>Book2?</p>
		<input type="text" name="book2">
		<p>Book3?</p>
		<input type="text" name="book3">
		<p>Book4?</p>
		<input type="text" name="book4">
		<p>Book5?</p>
		<input type="text" name="book5">
		<p>IS Married?</p>
		<input type="text" name="isMarried">
		<p>Is Noble?</p>
		<input type="text" name="isNoble">
		<p>Num DEAD Realtions?</p>
		<input type="text" name="numDeadRelations">
		<p>Bool Dead Relation?</p>
		<input type="text" name="boolDeadRelations">
		<p>Is Popular</p>
		<input type="text" name="isPopular">
		<p>Popularity</p>
		<input type="text" name="popularity"><br>
		<input type="submit" value="submit">
	</form>
</body>
</html>